<h2 class="text-2xl mb-5 text-black">Create New Note</h2>
<form
  autocomplete="off"
  [formGroup]="addNote"
  (ngSubmit)="onAddNote(addNote.value)"
>
  <input
    type="text"
    placeholder="Title for the note"
    class="bg-neutral-200 text-black outline-none border w-full p-3 my-3 border-neutral-700"
    formControlName="title"
  />
  <textarea
    placeholder="Description for the note"
    class="bg-neutral-200 text-black outline-none border w-full p-3 border-neutral-700"
    rows="3"
    cols="50"
    formControlName="description"
  ></textarea>
  <button
    value="Save"
    class="bg-blue-500 w-full px-8 py-2 my-2 text-white rounded float-right hover:bg-blue-600 active:bg-blue-700 focus:ring focus:ring-blue-100 md:w-fit"
    type="submit"
  >
    Save
  </button>
  <button
    value="Cancel"
    class="bg-rose-500 w-full px-8 py-2 my-2 text-white rounded float-right hover:bg-rose-600 active:bg-rose-700 focus:ring focus:ring-rose-100 md:w-fit md:mx-3"
    (click)="hideAddComponent()"
  >
    Cancel
  </button>
</form>
