<div [ngSwitch]="masterPasswordToggle">
  <ng-container *ngSwitchCase="'CREATE'">
    <div class="flex justify-center items-center text-white">
      <div class="border mt-40 border-neutral-700 rounded p-5">
        <app-create-password></app-create-password>
      </div></div
  ></ng-container>
  <ng-container *ngSwitchCase="'ASK'">
    <div class="flex justify-center items-center text-white">
      <div class="border mt-40 border-neutral-700 rounded p-5">
        <app-ask-password></app-ask-password>
      </div></div
  ></ng-container>
