<div
  *ngIf="notebook; else notebookError"
  class="flex flex-col justify-start align-middle"
>
  <div class="flex flex-row justify-between text-black">
    <div *ngIf="totalNotesFound; else allNotes">
      <p class="text-2xl">Found {{ totalNotesFound }} Notes</p>
    </div>
    <ng-template #allNotes>
      <p class="text-2xl">
        {{ notebook.title }}
      </p>
    </ng-template>
    <button
      class="bg-blue-500 px-5 text-black hover:bg-blue-600 active:bg-blue-700 focus:ring focus:ring-blue-100 rounded"
      (click)="showAddNote()"
    >
      <img
        src="https://icon-library.com/images/white-plus-icon/white-plus-icon-3.jpg"
        height="10px"
        width="10px"
        alt=""
      />
    </button>
  </div>
  <input
    class="bg-neutral-200 outline-none border border-neutral-700 rounded text-black w-full p-3 my-3"
    type="text"
    placeholder="Search Notes"
  />

  <div
    class="flex flex-col border border-neutral-700 rounded overflow-y-auto overflow-x-hidden h-[calc(100vh-250px)] snap-y"
  >
    <ng-container *ngIf="notes?.length != 0; else emptyTemplate">
      <div
        class="flex justify-between border-b border-neutral-700 text-black p-3 hover:bg-blue-500/30 active:bg-blue-500/50 cursor-pointer snap-start"
        *ngFor="let note of notes"
        (click)="showUpdateNote(note)"
      >
        <div class="basis-5/6">
          {{ note.title }}
        </div>
        <div class="self-center">
          <button
            (click)="ondeleteNote(note.id)"
            class="bg-blue-300 rounded hover:bg-blue-400 active:bg-blue-500 mx-5"
          >
            <img
              src="../../../assets/checkmark.png"
              height="25px"
              width="25px"
            />
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyTemplate>
      <div class="flex justify-center items-center h-full">
        <p class="text-2xl text-neutral-500">No Notes Found!</p>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #notebookError>
  <div class="flex justify-center items-center h-full">
    <p class="text-2xl text-neutral-500">No Notebook Found!</p>
  </div></ng-template
>
